@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   font-family: sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 font-family: "inter", "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.label {
  @apply block text-gray-700 font-semibold mb-1;
}
.input {
  @apply w-full px-3 py-1.5 border border-gray-300 rounded-md focus:outline-none focus:ring;
}
